- if @team
  %h1= t(".headline", name: @team.name)
- else
  %h1= t(".headline_no_team")
- if @latest_import_date
  %p.text-muted= t('misc.current_date', date: format_date(@latest_import_date))

- [:unknown, :invalid, :valid].each do |status|
  - players = @status[status]
  - if players.present?
    %h2= t(".#{status}.type")
    %p.text-muted= t(".#{status}.description")
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-5= Player.human_attribute_name('last_name')
          %th.col-md-5= Player.human_attribute_name('first_name')
          %th.col-md-1.text-center= Player.human_attribute_name('active_rental')
          %th.col-md-1.text-center= MemberStatus.human_attribute_name('rental_equipment')
      %tfoot
        %tr
          %td{colspan: 4}= t('misc.player_count', count: players.count)

      %tbody
        - players.each do |player|
          %tr
            %td
              = link_to player.last_name, player_path(player), class: 'hidden-print'
              %span.visible-print= player.last_name
            %td
              = link_to player.first_name, player_path(player), class: 'hidden-print'
              %span.visible-print= player.first_name
            %td.text-center
              - if player.active_rental?
                %span.glyphicon.glyphicon-ok-sign
              - else
                %span.glyphicon.glyphicon-remove-sign
            %td.text-center
              - if player.member_status.blank?
                %span.glyphicon.glyphicon-question-sign
              - elsif player.member_status.rental_equipment
                %span.glyphicon.glyphicon-ok-sign
              - else
                %span.glyphicon.glyphicon-remove-sign

- if can? :create, MemberStatus
  .upload_staus.hidden-print
    %h2= t('.upload.headline')
    %p.text-muted= t('.upload.instructions_html')
    = form_tag member_status_upload_path, class: 'form-inline', multipart: true do
      .form-group
        = label_tag 'upload[file]', 'File'
        = file_field_tag 'upload[file]', :class => 'form-control'
        = label_tag :dry_run, t('.upload.dry_run')
        = check_box :upload, :dry_run, {class: 'form-control', checked: 'checked'}
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-upload
          = t('.actions.upload')

