%h1
  = t('.headline')
  %span.badge Beta
- unless @current_user
  %p.text-muted= t('.subheadline')

- if @current_user
  %h2= t('.salutation', name: @current_user.common_name)
  = link_to "Logout", logout_path, class: "btn btn-lg btn-primary"
- else
  = button_to "Twitter Login", "/auth/twitter2", method: :post, class: "btn btn-lg btn-primary"
  - if Rails.env.development?
    = button_to "Dev Login", "/auth/developer", method: :post, class: "btn btn-lg btn-secondary"
  
