%h1= t(".headline", name: @team.name)
%p.text-muted.visible-print= t('.date', date: format_date(Date.today))
= form_for [@team, @jersey], html: {class: 'form-inline hidden-print'} do |f|
  = f.hidden_field :type
  .form-group
    = label_tag :number
    = f.number_field :number, class: 'form-control', maxlength: 2, size: 2, min: 1, max: 99
    = f.label :size
    = f.select :size, TeamEquipment::SIZES, {include_blank: true}, {class: 'form-control'}
    = f.submit t('.actions.save'), class: 'btn btn-primary'

- if @jerseys.present?
  %br
  %table.table.table-condensed
    %thead
      %th= GameJersey.human_attribute_name('number')
      %th= GameJersey.human_attribute_name('size')
      %th= Player.model_name.human
      %th= Player.human_attribute_name('pants_size')
      %th= Player.human_attribute_name('licence')
      %th= Player.human_attribute_name('position')
      %tbody
        - @jerseys.each do |jersey|
          %tr{class: "#{(jersey.players.count > 1) ? 'danger' : ''}"}
            %td= jersey.number
            %td= jersey.size
            %td= jersey_players(jersey)
            %td= jersey_pants_size(jersey)
            %td= jersey_licence_number(jersey)
            %td= jersey_positions(jersey)

- if can? :create, GameJersey
  .row.hidden-print
    %h2= t('.upload.headline')
    %p.muted= t('.upload.instructions_html')
    = form_tag team_game_jerseys_upload_path(@team), class: 'form-inline', multipart: true do
      .form-group
        = label_tag 'upload[file]', 'File'
        = file_field_tag 'upload[file]', :class => 'form-control'
        = submit_tag t('.actions.upload'), class: 'btn btn-default'
    %br