= form_for [@team, @event], html: {id: 'event-form', class: 'form-inline'} do |f|
  = f.hidden_field :type
  .form-group
    = label_tag :name
    = f.text_field :name, class: 'form-control'
    = f.label :event_date
    = f.date_field :event_date, class: 'form-control'

  - @participations.each_slice(4) do |slice|
    .row
      - slice.each do |participation|
        .col-sm-3.form-group.player-participation.js-player-participation
          = check_box "participation[#{participation.player.id}]", :participated, checked: participation.participated
          %button.btn.btn-default{type: 'button', autocomplete: 'off', data: {toggle: 'button'}, aria: {pressed: "#{participation.participated}"}, class: "#{'active' if participation.participated}"}
            = participation.player.full_name

  %br
  = f.submit t('.actions.save'), class: 'btn btn-primary'
