%h1= t('.headline', name: @team.name)

- if @events 
  = link_to t('.actions.new'), new_team_practice_path(@current_team), class: 'btn btn-primary'
  %br
  %table.table.table-condensed
    %thead
      %tr
        %th
        %th
        - @events.each do |event|
          %th.text-center
            = event.event_date.strftime('%m-%d')
            %a{href: "#{edit_team_event_path @team, event}"}
              %span.glyphicon.glyphicon-edit
      %tr
        %th
        %th
        - @participants.each do |count|
          %th.text-center= count
    %tfoot
      %tr
        %th
        %th
        - @participants.each do |count|
          %th.text-center= count
    %tbody
      - @practice_participation.each do |player|
        %tr{class: "#{player[:active] ? '' : 'text-muted'}"}
          %td= player[:name]
          %td= number_to_percentage(player[:percentage], precision: 1)
          - player[:participations].each do |participation|
            - if participation
              %td{class: participation.participated ? 'success' : 'warning'}
            - else
              %td

%br

= link_to t('.actions.new'), new_team_practice_path(@current_team), class: 'btn btn-primary'
