= form_for @player, :html => { class: 'form-horizontal' } do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group{class: "#{'has-error' if @player.errors[:first_name].present?}"}
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'form-control', maxlength: 100
  .form-group{class: "#{'has-error' if @player.errors[:last_name].present?}"}
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'form-control', maxlength: 100
  .form-group{class: "#{'has-error' if @player.errors[:birthday].present?}"}
    = f.label :birthday, :class => 'control-label'
    .controls
      = f.date_field :birthday, :class => 'form-control', maxlength: 100
  .form-group{class: "#{'has-error' if @player.errors[:position].present?}"}
    = f.label :position, :class => 'control-label'
    .controls
      = f.select :position, Player::POSITIONS, {include_blank: true}, {class: 'form-control'}
  .form-group{class: "#{'has-error' if @player.errors[:number].present?}"}
    = f.label :number, :class => 'control-label'
    .controls
      = f.text_field :number, :class => 'form-control', min: 1, max: 99
  .form-group{class: "#{'has-error' if @player.errors[:team].present?}"}
    %label
      = f.check_box :team_overwritten
      = Player.human_attribute_name('team_overwritten')
      = "(#{@player.actual_team_name})" if @player.actual_team_name
    .controls
      = f.collection_select :team_id, @all_teams, :id, :name, {include_blank: true}, {class: 'form-control'}
    %p.help-block= t('players.form.team_overwritten.hint')
  .actions.form-group
    = f.submit t('players.actions.save'), class: 'btn btn-primary'
