= form_for @player, :html => { :class => 'form-horizontal', multipart: true } do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group{class: "#{'has-error' if @player.errors[:first_name].present?}"}
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'form-control', maxlength: 100
  .form-group{class: "#{'has-error' if @player.errors[:last_name].present?}"}
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'form-control', maxlength: 100
  .form-group{class: "#{'has-error' if @player.errors[:birthday].present?}"}
    = f.label :birthday, :class => 'control-label'
    .controls
      = f.date_field :birthday, :class => 'form-control', maxlength: 100
  .actions
    = f.submit 'Save'
