- if @team
  %h1= t('.headline_team', name: @team.name)
- else
  %h1= t('.headline')

%table.table.table-striped
  %thead
    %tr
      %th #
      %th= Player.human_attribute_name('last_name')
      %th= Player.human_attribute_name('first_name')
      %th= Player.human_attribute_name('birthday')
      %th= Player.human_attribute_name('position')
      %th= Player.human_attribute_name('year_class') 

  %tbody
    - @players.each_with_index do |player, idx|
      %tr
        %td= idx + 1
        %td= link_to player.last_name, player_path(player)
        %td= player.first_name
        %td= birthday_of(player)
        %td= player.position
        %td= year_class_element(player)
        %td
          %a{href: "#{player_path player}"}
            %span.glyphicon.glyphicon-eye-open
          &nbsp;
          %a{href: "#{edit_player_path player}"}
            %span.glyphicon.glyphicon-edit
          &nbsp;
          %a{href: "#{player_path player}", data: {method: :delete, confirm: 'Are you sure?'}}
            %span.glyphicon.glyphicon-trash

%br

- if can? :create, Player
  = link_to t('.actions.new'), new_player_path, class: 'btn btn-default'

- if can? :create, Player
  %h2= t('.upload.headline')
  %p.muted= t('.upload.instructions_html')
  = form_tag players_upload_path, class: 'form-inline', multipart: true do
    .form-group
      = label_tag :team_id
      = collection_select :upload, :team_id, @all_teams, :id, :name, {prompt: t('.upload.prompt'), selected: @team ? @team.id : nil }, {class: 'form-control'}
      = label_tag 'upload[file]', 'File'
      = file_field_tag 'upload[file]', :class => 'form-control'
      = submit_tag t('.actions.upload'), class: 'btn btn-default'
