- if @team
  %h1= t('.headline_team', name: @team.name)
- else
  %h1= t('.headline')
%p.text-muted.visible-print= t('shared.current_date', date: format_date(Date.today))

- unless @players.empty?
  = render 'index_actions', team: @team
  %br

  %table.table.table-striped
    %thead
      %tr
        %th #
        %th= Player.human_attribute_name('last_name')
        %th= Player.human_attribute_name('first_name')
        %th= Player.human_attribute_name('position')
        %th= Player.human_attribute_name('year_class') 
    %tfoot
      %tr
        %td{colspan: 5}= t('shared.player_count', count: @players.count)

    %tbody
      - @players.each do |player|
        %tr
          %td= player.number
          %td
            = link_to player.last_name, player_path(player), class: 'hidden-print'
            %span.visible-print= player.last_name
          %td
            = link_to player.first_name, player_path(player), class: 'hidden-print'
            %span.visible-print= player.first_name
          %td= player.position
          %td= year_class_element(player)
%br
= render 'index_actions', team: @team


- if @inactive_players.present?
  .inactive_players.hidden-print
    %br
    %h2= t('.headline_inactive') 
    %table.table.table-striped
      %thead
        %tr
          %th= Player.human_attribute_name('last_name')
          %th= Player.human_attribute_name('first_name')

      %tbody
        - @inactive_players.each do |player|
          %tr
            %td= link_to player.last_name, player_path(player)
            %td= player.first_name


- if can? :create, Player
  .upload_player.hidden-print
    %h2= t('.upload.headline')
    %p.muted= t('.upload.instructions_html')
    = form_tag players_upload_path, class: 'form-inline', multipart: true do
      .form-group
        = label_tag :team_id
        = collection_select :upload, :team_id, @all_teams, :id, :name, {prompt: t('.upload.prompt'), selected: @team ? @team.id : nil }, {class: 'form-control'}
        = label_tag 'upload[file]', 'File'
        = file_field_tag 'upload[file]', :class => 'form-control'
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-upload
          = t('.actions.upload')

