%h1
  = @player.full_name
  = t('.inactive') unless @player.active
  = year_class_element(@player)
%p.text-muted
  = @player.actual_team_name
  = "##{@player.number}" if @player.number
.row
  .col-sm-4
    %dl
      %dt= Player.human_attribute_name('birthday')
      %dd= birthday_of(@player)
      %dt= Player.human_attribute_name('position')
      %dd= @player.position
      - if @player.pants_size.present?
        %dt= Player.human_attribute_name('pants_size')
        %dd= @player.pants_size
      - if @player.licence.present?
        %dt= Player.human_attribute_name('licence')
        %dd= @player.licence
      - if can? :read_note, @player
        - if @player.note.present?
          %dt= Player.human_attribute_name('note')
          %dd= @player.note

  .col-sm-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('.contacts')
      %ul.list-group
        - @player.contacts.each do |contact|
          %li.list-group-item
            - if can? :destroy, contact
              %a{href: "#{player_contact_path @player, contact}", class: 'pull-right', data: {method: :delete, confirm: 'Are you sure?'}}
                %span.glyphicon.glyphicon-trash
            = contact.email
    - if can? :create, Contact
      = form_for [@player, @contact], :html => { :class => 'form-inline' }  do |f|
        .form-group
          = f.text_field :email, type: 'email', class: 'form-control', maxlength: 100, size: 25, placeholder: t('.contact.email.placeholder')
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-plus
    %br
  - if can? :show, RentalEquipment
    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = t('.equipment')
            - if can? :create, RentalEquipment
              %a{href: "#{new_player_rental_equipment_path @player}", class: 'pull-right'}
                %span.glyphicon.glyphicon-plus
        %ul.list-group
          - @player.rental_equipments.each do |equipment|
            %li.list-group-item
              - if can? :edit, equipment
                %a{href: "#{edit_player_rental_equipment_path @player, equipment}", class: 'pull-right'}
                  %span.glyphicon.glyphicon-edit
              = equipment_detail(equipment)
      %br
.row
  .col-sm-12
    .actions
      - if @player.actual_team
        = link_to t('.actions.back'), team_players_path(@player.actual_team), class: 'btn btn-default'
      - else
        = link_to t('.actions.back'), players_path, class: 'btn btn-default'
      - if can? :edit, @player
        = link_to t('.actions.edit'), edit_player_path(@player), class: 'btn btn-primary'
      - if can? :destroy, @player
        = link_to t('.actions.destroy'), player_path(@player), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'}