%h1= t(".headline", name: @team.name)
.row
  .col-md-6
    %h2= GameJersey.model_name.human(count: 2)
    %table.table.table-striped
      %thead
        %tr
          %th= GameJersey.human_attribute_name('size')
          %th= t('.count')
          %th= t('.in_use')
      %tfoot
        %tr
          %td= t('.sum')
          %td= @jersey_count
          %td= @jersey_in_use_count
      %tbody
        - @jerseys.each do |hash|
          -if hash[:count] > 0
            %tr
              %td= hash[:size]
              %td= hash[:count]
              %td= hash[:in_use]
    .actions.hidden-print
      = link_to t('.actions.jerseys'), team_game_jerseys_path(@team), class: 'btn btn-default'
  .col-md-6
    %h2= GamePants.model_name.human(count: 2)
    %table.table.table-striped
      %thead
        %tr
          %th= GamePants.human_attribute_name('size')
          %th= t('team_equipments.count')
          %th= t('team_equipments.in_use')
      %tfoot
        %tr
          %td= t('team_equipments.sum')
          %td= @pants.sum { |p| p[:count] }
          %td= @pants.sum { |p| p[:in_use] }
      %tbody
        - @pants.each do |pants|
          - if pants[:count] + pants[:in_use] > 0
            %tr
              %td= pants[:size]
              %td= pants[:count]
              %td= pants[:in_use]
    .actions.hidden-print
      = link_to t('.actions.pants'), team_game_pants_index_path(@team), class: 'btn btn-default'

