- if can? :select, Team
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: '#team_manager_navbar'}}
          %span.sr-only Menü
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#{@current_team ? team_players_path(@current_team) : teams_path}"}
          - if @current_team
            = @current_team.name
          - else
            Team Manager

      .collapse.navbar-collapse#team_manager_navbar
        %ul.nav.navbar-nav
          %li.team-dropdown
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
              Teams
              %span.caret
            %ul.dropdown-menu
              - @all_teams.each do |team|
                %li= link_to team.name, select_team_path(team)
              - if can? :create, 'Team'
                %li.divider{role: 'separator'}
                %li= link_to t("navbar.new_team"), new_team_path
          - if @current_team
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
                = t("navbar.team.header")
                %span.caret
              %ul.dropdown-menu
                %li= link_to t("navbar.team.players"), team_players_path(@current_team)
                - if can? :depth_chart, @current_team
                  %li= link_to t("navbar.team.depth_chart"), depth_chart_team_path(@current_team)
                - if can? :by_year, @current_team
                  %li= link_to t("navbar.team.by_year"), by_year_team_path(@current_team)
            - if can? :read, Practice
              %li.practice-dropdown
                %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
                  = t("navbar.team.practices")
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to t("navbar.team.practice_participation"), team_practices_path(@current_team)
                  %li= link_to t("navbar.team.new_practice"), new_team_practice_path(@current_team)
            -if can? :index, RentalEquipment or can? :show, TeamEquipment
              %li.dropdown
                %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
                  = t("navbar.team.equipment")
                  %span.caret
                %ul.dropdown-menu
                  - if can? :show, TeamEquipment
                    %li= link_to t("navbar.team.equipments"), team_team_equipments_path(@current_team)
                    %li= link_to t("navbar.team.jerseys"), team_game_jerseys_path(@current_team)
                    %li= link_to t("navbar.team.pants"), team_game_pants_index_path(@current_team)
                  - if can? :index, Rental
                    %li= link_to t("navbar.team.rental_equipment.pads"), "#{rental_equipments_path}#pads"
                    %li= link_to t("navbar.team.rental_equipment.helmets"), "#{rental_equipments_path}#helmets"
            - if can?(:contacts, Team) || can?(:show, MemberStatus)
              %li.team-dropdown
                %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
                  = t("navbar.admin.header")
                  %span.caret
                %ul.dropdown-menu
                  - if can? :contacts, Team
                    %li= link_to t("navbar.admin.contacts"), contacts_team_path(@current_team)
                  - if can? :show, MemberStatus
                    %li= link_to t("navbar.admin.member_status"), team_member_status_index_path(@current_team)
          - if can? :index, User
            %li= link_to t("navbar.users"), users_path
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              = "#{@current_user.common_name}"
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: "#{logout_path}"}
                  %span.glyphicon.glyphicon-log-out
                  = t('.logout')
