%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: '#team_manager_navbar'}}
        %span.sr-only Menü
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/")
        - if @current_team
          = @current_team.name
        - else
          Team Manager

    .collapse.navbar-collapse#team_manager_navbar
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: true, expanded: false }}
            Teams
            %span.caret
          %ul.dropdown-menu
            - @all_teams.each do |team|
              %li= link_to team.name, select_team_path(team)
            %li.divider{role: 'separator'}
            %li= link_to t("navbar.new_team"), new_team_path
        %li= link_to t("navbar.players"), players_path
        - if @current_team
          %li= link_to t("navbar.team.events"), team_events_path(@current_team)
